/* Page Container */
#pageContent {
    width: 100%;
}

/* New page button */
.imageButt {
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
    background-color: #fff;
    border-radius: 1rem;
    text-decoration: none;
    margin-bottom: 3rem;
    border: 0;
    display: flex;
    width: fit-content;
    transition: 0.5s;
    margin: 1rem;
    border: 0.02rem solid rgb(0 0 0 / 10%);
    color: #444746!important;
}
.imageButt:hover {
    text-shadow: none;
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
    cursor: pointer;
    border-radius: 1.5rem;
    transition: 0.5s;
}
.imageButt svg {
    width: 3.5rem;
    height: 3.5rem;
}
.imageButt p {
    align-self: center;
    font-size: 1rem;
    font-weight: 350;
    margin-left: 0.5rem;
    user-select: none;
}

#storiesContainer {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}
#storiesContainer div {
    background-color: #f8fafd;
    border-radius: 24px;
    margin: 0.3rem;
    transition: 0.5s;
    flex-basis: 29%;
    margin-bottom: 0.2rem;
}
#storiesContainer div:hover {
    text-shadow: none;
    cursor: pointer;
    border-radius: 1.5rem;
    transition: 0.5s;
    transform-origin: center;
    transform: scale(0.99);
    background-color: #c2e7ff;
}
#storiesContainer img {
    width: 100%;
    height: fit-content;
    border-radius: 24px;
}
#storiesContainer div h4 {
    font-size: 1.9rem;
    font-weight: 500;
    padding: 0rem 1rem;
}
#storiesContainer div .storiesAuthor {
    display: flex;
    box-shadow: none;
    border: 0;
    margin: 0;
    margin-top: 0.5rem;
    transform: none;
    border-radius: 0;
    align-items: center;
    padding: 0rem 1rem;
}
#storiesContainer div .storiesAuthor img {
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.2rem;
}
#storiesContainer div p {
    font-size: 1rem;
    font-weight: 350;
    padding: 0rem 1rem;
}


/* Responsive stuff */
@media screen and (max-device-width: 480px)  {
    #pageContent {
        justify-content: center;
        margin: 0;
        padding: 0;
        height: 100%;
        border: none;
    }

    #storiesContainer {
        justify-content: center;
        justify-items: center;
        width: 100%;
        display: block;
        padding: 0;
    }

    #storiesContainer div {
        background-color: white;
        margin: 0.5rem 1rem;
        box-shadow: 0px 2px 4px 3px rgb(0 0 0 / 10%);
        width: auto;
    }
    #storiesContainer div .storiesAuthor {
        border: none;
        box-shadow: none;
    }
}

