/* Page Container */
#pageContent {
    width: 100%;
    background-color: white;
    padding: 2rem 2rem;
    justify-content: center;
}

/* Form Container */
#formTitle {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.3rem;
}

#formContainer {
    background-color: #f0efef;
    border-radius: 1rem;
    padding: 2rem;
    justify-content: center;
}

#formContainer textarea, #formContainer input {
    background-color: #ffffff00;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    pointer-events: auto;
}
#formContainer textarea {
    min-width: 100%;
    min-height: 10rem;
}
#formContainer .formFieldText {
    font-size: 0.9rem;
    font-weight: bold;
}

#formContainer .formInputDiv {
    background-color: white;
    text-align: left;
    display: flex;
    border: 0.1rem solid #0003;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 10%);
    border-radius: 0.5rem;
    pointer-events: none;
    transition: 0.5s;
}
#formContainer .formInputDiv svg {
    padding: 0.5rem;
    color: #aaa;
    width: 1.5rem;
    height: 1.5rem;
}

#submitForm {
    display: flex;
    min-height: 2rem;
    transition: 0.5s;
    float: right;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
    background-color: #fff;
    border-radius: 1rem;
    border: 0.02rem solid rgb(0 0 0 / 10%);
    color: #444746!important;
    text-decoration: none;
}
#submitForm svg {
    padding: 0.3rem;
    min-height: 2rem;
    min-width: 2rem;
}
#submitForm p {
    align-self: center;
    font-size: 1.2rem;
    padding: 0.3rem;
    font-weight: bold;
    height: max-content;
    width: max-content;
}

/* Form Event listeners */
#formContainer .formInputDiv:hover {
    border: 0.1rem solid #0006;
    transition: 0.5s;
}

#submitForm:hover {
    border: 1px solid #0000001a;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
    transition: 0.5s;
    transform-origin: center;
    transform: translateY(-2px);
    cursor: pointer;
}

/* Other stuff */
.pcTitle {
    display: none;
}

/* Responsive stuff */
@media screen and (max-device-width: 480px)  {
    body {
        justify-content: center;
        justify-items: center;
    }
    #pageContent {
        padding: 0;
    }

    #formTitle {
        display: none;
    }

    #formContainer {
        padding: 1rem;
        background-color: transparent;
    }
}

