/* Page Container */
#pageContent {
    width: 100%;
}
.storyClass {
    margin-left: 1.5rem;
    margin-top: 3rem;
}

.storiesCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}
.storiesCont div {
    background-color: var(--on-surface);
    border-radius: 24px;
    margin: 0.3rem;
    transition: 0.5s;
    flex-basis: 32%;
    padding-bottom: 0.7rem;
    margin-bottom: 1rem;
}
.storiesCont div:hover {
    cursor: pointer;
    border-radius: 12px;
    transition: 0.5s;
    background-color: var(--on-surface-container);
}
.storiesCont div:hover img {
    transition: 0.5s;
    border-radius: 12px;
}
.storiesCont div:hover h4 {
    font-weight: 450;
}
.storiesCont img {
    width: 100%;
    height: fit-content;
    border-radius: 24px;
    transition: 0.5s;
}
.storiesCont div h4 {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0rem 1rem;
}
.storiesCont div .storiesAuthor {
    display: flex;
    border: 0;
    margin: 0;
    margin-top: 0.5rem;
    transform: none;
    border-radius: 0;
    align-items: center;
    padding: 0rem 1rem;
}
.storiesCont div .storiesAuthor img {
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.2rem;
}
.storiesCont div p {
    font-size: 1rem;
    font-weight: 350;
    padding: 0rem 1rem;
}


/* Responsive stuff */
@media screen and (max-device-width: 480px)  {
    #pageContent {
        justify-content: center;
        margin: 0;
        padding: 0;
        height: 100%;
        border: none;
    }

    .storyClass {
        text-align: center;
        margin-left: 0;
    }

    .storiesCont {
        justify-content: center;
        justify-items: center;
        width: 100%;
        display: block;
        padding: 0;
        text-align: center;
    }

    .storiesCont div {
        margin: 0.5rem;
        width: auto;
    }
    .storiesCont div .storiesAuthor {
        border: none;
    }
}

