.contentHolder {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.boxHolders {
    margin: 0.5rem;
}

/* Table */ 
table {
    padding: 0.5rem!important;
    width: 100%;
}

td, th {
    padding: 0.2rem;
}

/* Responsive stuff */
@media screen and (max-device-width:480px)  {
    
}

