@font-face {
    font-family: segoePrint;
    src: url(../segoePrint.ttf);
}

* {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-variant-ligatures: no-common-ligatures;
    overflow: auto;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    color: #444746;
}
body {
    display: flex;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48
  }

/* Page Container */
#pageContent {
    width: 100%;
    background-color: #fff;
    padding: 0;
}

/* Content */
.contentHolder {
    width: 100%;
}

/* Page Banner */
#pgBanner {
    text-align: center;
    background-position: center center;
    margin: 0.5rem;
    border-radius: 24px;
}
#pgBanner h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    backdrop-filter: blur(4px);
    padding-top: 10%;
    padding-bottom: 10%;
}

/* Font style */
.fontTitle {
    font-size: 3rem;
    font-weight: 600;
}
.fontHeading {
    font-size: 1.9rem;
    font-weight: 500;
}
.fontSubHeading {
    font-size: 1.3rem;
    font-weight: 450;
}
.fontText {
    font-size: 1rem;
    font-weight: 350;
}

/* Text Boxes */
.mainMultCont {
    background-color: #f8fafd;
    margin: 0.5rem;
    border-radius: 24px;
}
.multiCont {
    display: flex;
}
.multiTitl {
    margin-bottom: 0.5rem;
    font-size: 1.9rem;
    font-weight: 500;
    text-align: center;
}
.multiCont .textBox {
    padding: 1rem;
    padding-top: 0;
    background-color: #c2e7ff;
}
.multiCont .textBox p {
    color: #000000!important;
}
.textBox {
    border: 0;
    padding: 1rem 10rem;
    text-align: center;
    transition: 0.5s;
    text-decoration: none;
    margin: 0.5rem;
    border-radius: 24px;
    background-color: #f8fafd;
}
.textBox h2 {
    margin-bottom: 1rem;
    font-size: 1.9rem;
    font-weight: 500;
    text-align: center;
}
.textBox h3 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 450;
    text-align: center;
}
.textBox img {
    width: 60%;
    height: fit-content;
    border-radius: 24px;
    margin-top: 1rem;
}
.textBox span {
    width: 50%;
    height: fit-content;
}
.textBox p {
    text-align: center;
    font-size: 1rem;
    font-weight: 350;
    margin-top: 0.5rem;
}
.textBox span {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}
.textBox a {
    justify-content: right;
    color: #0b57d0!important;
    text-decoration: none;
}
.textBox:hover a{
    text-decoration: underline;
    color: #1A16B4;
    transition: 0.5s;
}

/* SideBar */
#sideBar {
    min-width: fit-content;
    background-color: #f3f6fc;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#logInDiv {
    background-color: #fff;
    transition: 0.5s;
    border-radius: 100%;
    margin: 1rem;
    width: 3rem;
    height: fit-content;
    align-self: center;
}
#logInDiv:hover {
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s;
}
#logInDiv span {
    padding: 1rem;
    width: 3rem;
    height: fit-content;
}
#userInfoCard {
    min-height: 1rem;
    padding: 0.5rem;
    display: none;
}
#userInfoCard #userImage {
    height: 4rem;
    border-radius: 100%;
    border: 0.2rem solid #c2e7ff;
    padding: 0;
}
#sideButtons {
    display: flex;
    flex-direction: column;
}
#sideButtons button {
    border: 0;
    background-color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(255, 255, 255, 0);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
#sideButtons button span {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.3rem 0.9rem;
    border-radius: 5rem;
    transition: 0.4s;
    text-align: center;
}
#sideButtons button p {
    margin-left: 0.3rem;
}
#sideButtons button:hover{
    font-weight: 500;
    cursor: pointer;
}
#sideButtons button:hover span {
    background-color: #e8ecec;
    transition: 0.4s;
    transform: scale(1.05);
}
#sideButtons button:hover span {
    background-color: #e8ecec;
    transition: 0.4s;
    transform: scale(1.05);
}
#sideButtons #activeCard {
    color: #001d35;
}
#sideButtons #activeCard span {
    background-color: #c2e7ff;
}
#sideButtons #activeCard p {
    font-weight: 500;
    color: #444746;
}
#sideButtons #activeCard:hover{
    cursor: pointer;
    text-decoration: none;
}
#themeSetter {
    margin-top: auto;
}
#themeSetter #themeSwitchButt {
    background-color: #fff;
    transition: 0.5s;
    border-radius: 100%;
    border: 0;
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
}
#themeSetter #themeSwitchButt:hover {
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s;
}
#themeSetter #themeSwitchButt span {
    width: fit-content;
    height: fit-content;
    padding: 0.2rem;
}

/* Mobile stuff */
#mobNavButt {
    display: none;
}
.mobNavSpace {
    display: none;
}
#mobileNav {
    display: none;
}

/* Shop */
.shopTitles {
    font-size: 1.9rem;
    font-weight: 500;
    margin: 0.5rem;
    text-align: center;
}

.shopHolder {
    display: flex;
}

.shopHolder .shopItem {
    border: 0;
    padding: 1rem;
    text-align: center;
    transition: 0.5s;
    text-decoration: none;
    margin: 0.5rem;
    border-radius: 24px;
    background-color: #f8fafd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shopHolder .shopItem .shopItemImage {
    padding: 0.5rem;
    border: 0.1rem #c2e7ff solid;
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    transition: 0.5s;
    z-index: 1;
    background-color: #fff;
}
.shopHolder .shopItem .shopItemTitle {
    font-size: 1.5rem;
    font-weight: 500;
}
.shopHolder .shopItem .shopItemDesc {
    font-size: 1rem;
    font-weight: 350;
}
.shopHolder .shopItem .shopItemBuy {
    font-size: 1.3rem;
    font-weight: 450;
    border: 0;
    width: 100%;
    border-radius: 24px;
    padding: 0.5rem;
    margin-top: 3rem;
    background-color: #c2e7ff;
    transition: 0.5s;
}

.shopHolder .shopItem:hover .shopItemImage {
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}
.shopHolder .shopItem:hover .shopItemBuy {
    transition: 0.5s;
    transform: scale(1.01);
    cursor: pointer;
}

/* Responsive stuff */
@media screen and (max-device-width: 480px)  {
    body {
        display: block;
        justify-content: center;
        justify-items: center;
    }

    #pageContent {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        justify-items: center;
    }

    .contentHolder {
        display: block;
    }

    /* Text boxes */
    .multiCont {
        display: block;
    }
    .multiCont .textBox {
        width: auto!important;
    }
    .textBox {
        background-color: #0000;
        max-width: none;
        width: auto;
        padding: 1rem;
    }

    /* Hide Side Bar*/
    #sideBar {
        display: none;
    }

    /* Website logo */
    .websiteLogo {
        height: 3rem;
    }

    /* Banner */
    #pgBanner {
        background-position: unset;
    }
    #pgBanner h1 {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    /* Mobile properties */
    .hideSmall {
        display: none;
    }

    /* Mobile Nav*/
    #mobileNav {
        display: none;
        background-color: #f3f6fc;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        height: max-content;
        width: calc(100% - 1rem);
        z-index: 2;
        padding: 0.5rem;
        padding-top: 5rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    #mobileNav a {
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 100px;
        display: block;
        text-align: center;
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 1rem;
        transition: 0.2s;
    }
    #mobileNav #currPageMob {
        background-color: #c8e4fc;
    }
    #mobileNav #currPageMob:hover {
        background-color: #b5d7ed;
        transition: 0.2s;
    }
    #mobileNav a:hover {
        background-color: #c8e4fc;
        transition: 0.2s;
    }

    #mobThemeSwitcher {
        transition: 0.5s;
        height: fit-content;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.1rem #8b8e8c solid; 
        background-color: transparent!important;
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 100px;
        font-weight: 500;
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }
    #mobThemeSwitcher #themeEmoji {
        padding: 0.2rem;
    }
    #mobThemeSwitcher:hover {
        border-radius: 12px;
        cursor: pointer;
        transition: 0.5s;
    }

    .mobNavSpace {
        line-height: 3.5rem;
        display: block;
    }

    .pcTitle {
        display: none;
    }

    #mobNavButt {
        z-index: 3;
        position: fixed;
        display: flex;
        align-items: center;
        background-color: #fff;
        width: 100%;
        padding: 0.3rem;
    }
    #mobNavButt svg {
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
    }

    #mobLogInDiv {
        background-color: #fff;
        transition: 0.5s;
        border-radius: 100%;
        text-align: center;
        height: 3rem;
        float: right;
        position: absolute;
        right: 1rem;
        top: 0.2rem;
    }

    .shopHolder {
        display: block;
    }
    .shopHolder .shopItem {
        width: unset!important;
    }
}

