/* Page Container */
#pageContent {
    width: 100%;
    background-color: var(--background);
    padding: 2rem 2rem;
}

/* Shelfs */
.shelfTitle {
    font-size: 1.9rem;
    font-weight: 500;
    text-align: center;
}
.bookShelf {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

/* Book conts */
.bookCont {
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 24px;
    background-color: var(--background-element);
    display: flex;
    transition: 0.5s;
}
.bookCont .alwaysShown {
    position: relative;
    width: max-content;
}
.bookCont .alwaysShown img {
    border-radius: 15px;
    width: fit-content;
    height: 12rem;
    transition: 0.5s;
}
.bookCont .bookInfoCont {
    margin-left: 1rem;
    transition: 0.5s;
    width: 50%;
}
.bookCont .bookInfoCont .title {
    font-size: 1.5rem;
    font-weight: 500;
}
.bookCont .bookInfoCont .auth {
    font-size: 1.2rem;
    font-weight: 400;
}

.bookCont .alwaysShown .avlblCard {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    right: 0;
}
.bookCont .alwaysShown .avlblCard svg {
    margin: 0;
    padding: 0;
    align-self: center;
    height: 1rem;
    width: fit-content;
}

.bookCont:hover {
    border-radius: 12px;
    transition: 0.5s;
    cursor: pointer;
}

/* Responsive stuff */
@media screen and (max-device-width:480px)  {
    #pageContent {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        justify-items: justify;
    }

    .contentHolder {
        width: fit-content;
    }
}
