/* Page Container */
#pageContent {
    width: 100%;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

/* Content */
.contentHolder {
    width: 100%;
    padding: 0;
    margin: 0;
}

.mainInfo {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    height: fit-content;
}
.mainInfo img {
    width: 50%;
    height: fit-content;
    align-self: center;
}
.mainInfo {
    width: 100%;
}
.mainInfo .buyBox {
    background-color: #f8fafd;
    width: 100%;
    border-radius: 2rem;
    padding: 1.5rem;
    height: fit-content;
    margin-right: 1rem;
}
.mainInfo .buyBox .name {
    font-size: 1.9rem;
    font-weight: 500;
}
.mainInfo .buyBox hr {
    border-top: 0.1rem solid #444746;
    border-radius: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.mainInfo .buyBox .main {
    text-align: center;
}
.mainInfo .buyBox .main .priceTag {
    font-size: 1.3rem;
    font-weight: 450;
}
.mainInfo .buyBox .main .buyButton {
    font-size: 1.3rem;
    font-weight: 450;
    border: 0;
    background-color: #c8e4fc;
    padding: 0.5rem 2rem;
    border-radius: 24px;
    width: 30%;
    margin-top: 1rem;
    transition: 0.2s;
}
.mainInfo .buyBox .main .buyButton:hover {
    cursor: pointer;
    background-color: #b5d7ed;
    transition: 0.2s;
}
.mainInfo .buyBox .onSale {
    display: flex;
    align-items: center;
    float: right;
}
.mainInfo .buyBox .onSale svg {
    width: 2rem;
    height: fit-content;
}
.mainInfo .buyBox .onSale span {
    font-size: 1rem;
    font-weight: 350;
}

/* Responsive stuff */
@media screen and (max-device-width:480px)  {
    #pageContent {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        justify-items: center;
    }

    .mainInfo {
        display: block;
        width: 100%;
        text-align: center;
    }
    .mainInfo .buyBox {
        width: unset;
        margin: 0;
    }

    .mainInfo .buyBox .main .buyButton {
        width: 50%;
        text-align: center;
    }

    .contentHolder {
        display: block;
    }
}
