/* Page Container */
#pageContent {
    width: 100%;
    background-color: #fff;
}

/*
#onPageUserInfoCard {
    padding: 1rem;
    width: auto;
    display: none;
}
#onPageUserInfoCard .contextHolder .mainData {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
#onPageUserInfoCard .contextHolder .mainData #onPageUserImage {
    height: 4rem;
    border-radius: 100%;
    border: 0.1rem solid #c2e7ff;
    padding: 0;
    margin-right: 1rem;
}
#onPageUserInfoCard .contextHolder .mainData #onPageUsersName {
    font-size: 1.9rem;
    font-weight: 500;
}
#onPageUserInfoCard .contextHolder .otherData #onPageUsersMail {
    font-size: 1.3rem;
    font-weight: 450;
}
*/

/* Account stuff */
.box {
    margin: 0.5rem;
    background-color: #f8fafd;
    border-radius: 24px;
    padding: 0.5rem;
    display: none;
}

.listedInfo {
    text-align: center;
}
.listedInfo h2 {
    font-size: 1.9rem;
    font-weight: 500;
    padding: calc(5rem - 1.9rem - 2rem);
}
.listedInfo .dataCont .dataInfo {
    background-color: #c2e7ff;
    border-radius: 24px;
    margin: 0.5rem;
    padding: 0.5rem;
}
.listedInfo .dataCont .dataInfo h3 {
    font-size: 1.3rem;
    font-weight: 450;
}
.listedInfo .dataCont .dataInfo span {
    font-size: 1rem;
    font-weight: 350;
}

#loggedInDiv .userInfo {
    display: flex;
    align-items: center;
}
#loggedInDiv .userInfo #name {
    font-size: 1.9rem;
    font-weight: 500;
    margin-left: 0.5rem;
}
#loggedInDiv .userInfo img {
    width: 5rem;
    height: max-content;
    border-radius: 100%;
    border: 0.1rem solid #c2e7ff;
}
#loggedInDiv #balance {
    font-size: 1.3rem;
    font-weight: 450;
}
#loggedInDiv .lttlSpc {
    border: 0.1rem #c2e7ff solid;
    border-radius: 1rem;
    margin-top: 0.2rem;
}

#loggedInDiv #transDiv {
    background-color: #c2e7ff;
    border-radius: 24px;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
}
#loggedInDiv #transDiv h3 {
    font-size: 1.3rem;
    font-weight: 450;
}
#loggedInDiv #transDiv span {
    font-size: 1rem;
    font-weight: 350;
}

#accountInfo {
    margin: 0.5rem;
    background-color: #f8fafd;
    border-radius: 24px;
    padding: 0.5rem;
    display: none;
}

/* Log out button */
#logOutButton {
    min-height: 3rem;
    display: none;
    width: fit-content;
    background-color: #f8fafd;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.3rem;
    align-items: center;
    transform: 0.5s;
}
#logOutButton:hover {
    transform-origin: center;
    transform: translateY(-2px);
    cursor: pointer;
    background-color: #004a77;
    transform: 0.5s;
}
#logOutButton svg {
    background-color: transparent;
    height: 100%;
    min-width: 2.5rem;
}
#logOutButton p {
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 450;
}

/* Responsive stuff */
@media screen and (max-device-width: 480px)  {
    #pageContent {
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #fff;
        border: none;
    }

    #pgBanner {
        background-position: bottom!important;
    }

    /*#onPageUserInfoCard {
        height: auto;
        width: fit-content;
    }*/
    #logOutButton {
        width: 3rem;
        height: 3rem;
        text-align: center;
        justify-content: center;
    }
    #logOutButton p {
        display: none;
    }
}

