/* Page Container */
#pageContent {
    width: 100%;
    background-color: #fff;
}

#errorDiv {
    background-color: transparent;
    color: black;
    border-radius: 1rem;
    border: none;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 100%;
    margin: 0.2rem;
    text-align: center;
    display: flex;
}
#errorDiv img {
    width: 10rem;
    height: fit-content;
    text-align: center;
    align-self: center;
}
#errorDiv .txtHolder {
    text-align: left;
    align-self: center;
}
#errorDiv .txtHolder h1 {
    align-self: center;
    font-size: 1.9rem;
    font-weight: 500;
}
#errorDiv .txtHolder p {
    text-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 350;
}

#onPageUserInfoCard {
    padding: 2.5rem;
    width: 100%;
    height: 100%;
    display: none;
}
#onPageUserInfoCard #onPageUserImage {
    height: 7rem;
    border-radius: 100%;
    border: 0.2rem solid #c2e7ff;
    padding: 0;
}
#onPageUserInfoCard #onPageUserTextInfo {
    margin-left: 0.5rem;
}
#onPageUserInfoCard #onPageUserTextInfo h1 {
    font-size: 3rem;
    font-weight: 500;
}
#onPageUserInfoCard #onPageUserTextInfo h4 {
    font-size: 1.9rem;
    font-weight: 400;
}

#logOutButton {
    min-height: 2.5rem;
    display: none;
    width: fit-content;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
    background-color: #fff;
    border-radius: 1rem;
    border: 0.02rem solid rgb(0 0 0 / 10%);
    color: #444746!important;
    text-decoration: none;
    padding: 0.3rem;
    transition: 0.5s;
}
#logOutButton:hover {
    border: 1px solid #0000001a;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
    transition: 0.5s;
    transform-origin: center;
    transform: translateY(-2px);
    cursor: pointer;
}
#logOutButton svg {
    background-color: transparent;
    height: 100%;
    min-width: 2.5rem;
}
#logOutButton p {
    align-self: center;
    padding: 0.5rem;
    font-size: 1rem;
}


/* Responsive stuff */
@media screen and (max-device-width: 480px)  {
    #pageContent {
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #fff;
        border: none;
    }

    #errorDiv {
        display: block;
        height: auto;
        padding: 0.5rem;
        margin: 2rem 1rem;
    }
    #errorDiv img {
        display: none;
    }
    #errorDiv h1 {
        display: block;
    }
    #errorDiv p {
        text-align: left;
    }

    #onPageUserInfoCard {
        padding: 0.5rem;
        height: auto;
    }
}

