/* Page Container */
#pageContent {
    width: 100%;
    background-color: #fff;
    padding: 0;
}

/* Content */
.contentHolder {
    width: 100%;
}

/* Responsive stuff */
@media screen and (max-device-width:480px)  {
    #pageContent {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        justify-items: center;
    }

    .contentHolder {
        display: block;
    }
}
