.settingsChoser {
    display: flex;
    text-align: center;
    background-color: #f8fafd;
    border-radius: 40px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.settingsChoser span {
    width: calc(100%/2);
    padding: 2rem 1rem;
    font-size: 1.2rem;
    font-weight: 350;
}
.settingsChoser span:hover {
    cursor: pointer;
    background-color: #f0ecec;
}
.settingsChoser .active {
    background-color: #c2e7ff;
}
.settingsChoser .active:hover {
    background-color: #b5d7ed;
}

